.karya {
  &-box {
    &-wrap {
      display: flex;
      gap: 3em;
      margin-top: 2em;
    }

    &-item {
      background-color: $light-color;
      border-radius: .3rem;
      padding: 2.5em;
      display: grid;
      grid-template-areas: 
      'title button'
      'desc button';
      gap: .3em 2em;

      h2 {
        grid-area: title;
      }

      p {
        grid-area: desc;
        color: rgba($color: $text-color, $alpha: .8);
        font-size: .95rem;
      }

      a {
        grid-area: button;
        color: $primary-color;
        place-self: center;
        padding: 1em;
        border-radius: .3rem;
        transition: .3s;

        &:hover {
          background-color: rgba($color: $primary-color, $alpha: .05);
        }
      }
    }
  }
}