// Font
$text-font: 'Nunito Sans';

// Colors
$primary-color: #0094C6;
$secondary-color: #FFC600;
$heading-color: #001242;
$text-color: #1B263B;
$light-color: #EBF5EE;
$lighter-color: #FFFFFF;